vendor
*.tar.gz
zeepin-*
debug
*debug
wallet
zeepin
ztest
ztest-linux-amd64
ztest
smartcontract/service/native/.DS_Store
zeepin
ztest
*.log
ztest
ztest.go
ztest
ztest.go
.vscode/launch.json
.DS_Store
peers.recent
convertaddress
Chain/6/block/000002.ldb
Chain/6/block/CURRENT
Chain/6/block/CURRENT.bak
Chain/6/block/LOCK
Chain/6/block/LOG
Chain/6/block/MANIFEST-000014
Chain/6/ledgerevent/000002.ldb
Chain/6/ledgerevent/CURRENT
Chain/6/ledgerevent/CURRENT.bak
Chain/6/ledgerevent/LOCK
Chain/6/ledgerevent/LOG
Chain/6/ledgerevent/MANIFEST-000014
Chain/6/merkle_tree.db
Chain/6/states/000002.ldb
Chain/6/states/CURRENT
Chain/6/states/CURRENT.bak
Chain/6/states/LOCK
Chain/6/states/LOG
Chain/6/states/MANIFEST-000014
config-vbft.json
wallet.dat
common/constants/constants_test.go
